<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div class="alert alert-primary" role="alert">
    <span class="badge bg-success" id="currentUser"></span>
    <span>様、いらっしゃいませ！</span>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="one wide">番号</th>
        <th class="ten wide">タイトル</th>
        <th class="two wide">作成者</th>
        <th class="three wide">作成日</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="board : ${boardList}">
        <td>
            <span th:text="${board.articleNumber}"></span>
        </td>
        <td>
            <!-- ポスト番号を通じてポスト内容確認ができるようにするため    -->
            <a th:href="@{'/board/list/' + ${board.articleNumber}}">
                <span th:text="${board.title}"></span>
            </a>
        </td>
        <td>
            <span th:text="${board.writer}"></span>
        </td>
        <td>
            <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">

        <li class="page-item disabled" id="prevButtonLi">
            <span>
                <a  class="page-link" id="prevButton"> << </a>
            </span>
        </li>


        <li th:each="pageNum : ${pageList}" th:if="${pageNum != null}" aria-current="page" th:class="${pageNum == activePage}? 'page-item active' : 'page-item'" >
            <span th:inline="text">
                <a class="page-link" th:href="@{'/board/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
        </li>


        <li class="page-item disabled" id="nextButtonLi">
            <span>
                <a class="page-link" id="nextButton"> >> </a>
            </span>
        </li>
    </ul>
</nav>
<!--<form th:action="@{'/board/edit/' + ${boardDto.articleNumber}}" method="post">-->
<form action="/board/search" method="GET" >
    <div class="input-group mb-3" style="width: 35%; float:left;">
        <label class="input-group-text" th:for="searchOption">検索基準</label>
        <select class="form-select" th:id="searchOption"  th:name="searchOption" >
            <option th:value="1" selected>タイトル</option>
            <option  th:value="2">作成者</option>
            <option  th:value="3">内容</option>
        </select>
        <input name="keyword" type="text" placeholder="検索ワード" style="width: 60%" required>
    </div>
    <div style="float: left;margin-left: 10px; margin-right: 20px">
        <button class="btn btn-outline-success">検索</button>
    </div>
</form>
<div style="margin-left: 20px">
    <a th:href="@{/board/list}"  class="btn btn-outline-info">ポストリスト</a>
</div>

<div style="clear: both">
    <a th:href="@{/board/post}"  class="btn btn-primary">作成</a>
</div>

<input name="curPage" type="hidden" th:value="${activePage}">


<script>
    $(document).ready(
            function pageCheck() {
                var currentPage = $('input[name=curPage]').val();
                $.ajax({
                    type:"POST",
                    data : currentPage,
                    contentType: "application/json",
                    url : "/board/pageCheck",
                    success : function(data) {
                        if (data["previous"] === 1) {
                            $('#prevButtonLi').attr('class', 'page-item disabled');
                            $('#prevButton').attr('aria-disabled', 'true');
                        }else{
                            $('#prevButtonLi').attr('class', 'page-item');
                            $('#prevButton').attr('aria-disabled', 'false');
                            $('#prevButton').attr('href', '/board/list?page=' + data["previous"]);
                        }

                        if (data["next"] > data["total"]) {
                            $('#nextButtonLi').attr('class', 'page-item disabled');
                            $('#nextButton').attr('aria-disabled', 'true');
                        }else{
                            $('#nextButtonLi').attr('class', 'page-item');
                            $('#nextButton').attr('aria-disabled', 'false');
                            $('#nextButton').attr('href', '/board/list?page=' + data["next"]);
                        }
                    }
                });
            });
    $(document).ready(
            function dispUserId() {
                var currentUser = "";
                $.ajax({
                    data:currentUser,
                    type:"POST",
                    url : "/member/getUserId",
                    success : function(data) {
                        $('#currentUser').text(data);
                    }
                });

            });
</script>
</body>
</html>