<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container1">
	<form action="/login" method="post">
		<div class="form-group">


			<label for="userId">ID</label>
			<input type="text" id="userId" name="userId" placeholder="계정이름을 입력하세요">
			<br>
			<label for="userPassword">PW</label>
			<input type="password" id="userPassword" name="userPassword" placeholder="비밀번호를 입력하세요">
			<br><br>
		</div>
		<button type="submit">로그인</button>
	</form>
</div>
<div class="container2">
	<div>
		<p>
			<a href="/members/new">회원 가입</a>
		</p>
	</div>
</div> <!-- /container -->
</body>
</html>